.order {
  
  .content-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    .demo-form-inline {
      display: flex;
      justify-content: space-between;
      margin-right: 20px;
      .el-input {
        margin-right: 30px;
      }

    }
  }
}
